{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <!-- banner -->
    <div id="slidey" style="display:none;">
        <ul>
            {% for object in object_list %}
                <li>
                    <img src="{{ object.poster.url }}" alt=" ">
                    <p class='title'><a style="color: black" href="{% url 'movie_detail' object.slug %}">{{ object.title }}</a></p>
                    <p class='description'>{{ object.detail }}</p>
                </li>>
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'Template/js/jquery.slidey.js' %}"></script>
    <script src="{% static 'Template/js/jquery.dotdotdot.min.js' %}"></script>
    <script src="{% static 'js/Banner.js' %}"></script>
    <!-- //banner -->
{% endblock %}